.app_main_img{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imgs/배경화면.png');
    background-position: center top;
    background-repeat: no-repeat;
}

.app_navigation_margin{
    height: 90%;
}

.app_navigation{
    border-top: solid 1px #cccccc;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}